<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Accounting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework"></defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="AccountingDatabase" connectionString="data source=(LocalDB)\v11.0;Initial Catalog=Accouning;User ID=;Password=;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <Accounting.Properties.Settings>
      <setting name="Theme" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="Style" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="BusinessName" serializeAs="String">
        <value>Your Business</value>
      </setting>
      <setting name="FirstStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Currency" serializeAs="String">
        <value />
      </setting>
    </Accounting.Properties.Settings>
  </userSettings>
</configuration>