<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="EntityFramework.CodeFirstStoreFunctions" version="1.1.1" targetFramework="net452" />
  <package id="EntityFramework.de" version="6.2.0" targetFramework="net452" />
  <package id="EntityFramework.SqlServerCompact" version="6.2.0" targetFramework="net452" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net452" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net452" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net452" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net452" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6072" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50728" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6071" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50728" targetFramework="net452" />
  <package id="NetDimension.WinForm.ModernUI" version="1.0.1" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="12.2.1100" targetFramework="net452" />
  <package id="SoftGage.EntityFramework.Migrations" version="1.0.1" targetFramework="net452" />
</packages>